{% extends 'ABase.html' %}
{% block content %}

<div class="container-fluid bg-light bg-gardient p-2">
<form action="add.html" method="POST">
    {% csrf_token %}
  <div class="mb-2">
      <label for="first_name" class="form-label"><b>First Name</b></label>
    <input type="text" class="form-control" id="first_name" value="{{first_name}}" name="first_name"><hr>

    <label for="last_name" class="form-label"><b>Last Name</b></label>
    <input type="text" class="form-control" id="last_name" value="{{last_name}}" name="last_name"><hr>

         <label for="department" class="form-label"><b>Department</b></label>
    <input type="number" class="form-control" id="department" value="{{department}}" name="department"><hr>

      <label for="role" class="form-label"><b>Role</b></label>
    <input type="number" class="form-control" id="role" value="{{role}}" name="role"><hr>

         <label for="salary" class="form-label"><b>Salary</b></label>
    <input type="number" class="form-control" id="salary" value="{{salary}}" name="salary"><hr>

         <label for="bonus" class="form-label"><b>Bonus</b></label>
    <input type="number" class="form-control" id="bonus" value="{{bonus}}" name="bonus"><hr>

         <label for="contact_no" class="form-label"><b>Contact No</b></label>
    <input type="number" class="form-control" id="contact_no" value="{{contact_no}}" name="contact_no"><hr>
  </div>
    <br>
  <button type="submit" class="btn btn-primary">Submit</button>



</form>
    </div>

{% endblock %}